{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block body_block %}

    <div class="alert alert-success" role="alert" id="intupdatealert"></div>

    {% if userprofile %}

        <div class="row">
            <div class="col-md-3 col-md-offset-1">

                <div class="row">
                    <div style="margin-top : 15%" class="col-md-12"><img src="{% static "images/empty-avatar.jpg" %}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="margin-left:120%; margin-top : -60%"><b>Username:</b>{{ username }}
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="margin-top :-30%; margin-left:120%"><b>Points:</b>15
                        </h3>
                    </div>
                </div>

            </div>

            <div style="margin-top :25%; margin-left:13%">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Interests</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% if username != userrequest %}
                            <ul style="list-style-type: none" class="list-group list-group-item">
                            {% for f in interests %}
                                <li id="list">{{ f }}</li>
                            {% endfor %}
                        {% else %}
                            <form action="{% url 'userprofile' userrequest %}" id="intupdate" method="post">
                                {% csrf_token %}
                                <select id="interestsselect" name="interestsselect" multiple="multiple">
                                    {% for interest in allinterests %}
                                        <option value="{{ interest.id }}"
                                                {% if interest in interests%}selected="selected"{% endif %}>{{ interest }}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="type" value="updateinterests"/>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update interests</button>
                                </div>
                            </form>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="user_ratings">
            {% if ratings %} <h4>Latest ratings</h4>
            {% endif %}
            <div class="row">

                {% for r in ratings %}
                    <div class="col-md-4 column">
                        <div class="well">
                            <p><b>Author:</b> <a href="{% url 'userprofile' r.author %}">{{ r.author }}</a></p>

                            <p><b> Subject:</b> {{ r.offer.advertisement.advInterest }} </p>

                            <p><b> Lesson:</b> {{ r.offer.advertisement.lesson }}</p>

                            <p><b> Location:</b> {{ r.offer.advertisement.user.city }} </p>

                            <p><b> Rating:</b> {{ r.rate }}</p>

                            <p><b> Comment: </b>{{ r.comment }}</p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    {% else %}
        No such user
    {% endif %}

{% endblock %}