{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

    <h1>About</h1>

    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Some words about unNoobMe</h2>

            <p>This website was created for the purposes of the Internet Technolgy assignment on March 2015. Our aim is
                to find a tutor to people that might need help (noobs) to a particular subject. The time, place and
                duration are being defined by the person who needs help. In order to motivate user to help,
                unNoobMe uses points to reward a particular tutor. Someone could use those points for “hiring” a tutor
                for his/her needs.</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>How unNoobMe works:</h2>

            <p>First select the type of lesson that you want (Skype meeting, Library meeting, Home meeting etc).<br>
                Let the other user know the subject and topic that you want help with.<br>
                Specify the duration of your lesson and choose any date and time that suits you <br>
                Wait until another tutor offers his/her services.<br>
                Choose your tutor!</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Special thanks</h2>

            <p>Lastly, we would like to give special thanks to Dr. Leif Azzopardi for his help.</p>
        </div>
    </div>

{% endblock %}