{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contact Us{% endblock %}

{% block body_block %}

    <h1>Contact Us</h1>

    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="mailto:2156744b@student.gla.ac.uk?Subject=UnNoobMe" target="_top">Leonidas Bampas</a></h4>

            <p>2156744b@student.gla.ac.uk</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="mailto:2153698c@student.gla.ac.uk?Subject=UnNoobMe" target="_top">Rafael Constantinou</a>
            </h4>

            <p>215369c@student.gla.ac.uk</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="mailto:2156764h@student.gla.ac.uk?Subject=UnNoobMe" target="_top">Nikolaos
                Hadjitheophanous</a></h4>

            <p>2156764h@student.gla.ac.uk</p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="mailto:2153455A@student.gla.ac.uk?Subject=UnNoobMe" target="_top">Stefani Aresti</a></h4>

            <p>2153455A@student.gla.ac.uk</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h4><a href="mailto:1101519m@student.gla.ac.uk?Subject=UnNoobMe" target="_top">Finlay MacIver</a></h4>

            <p>1101519m@student.gla.ac.uk</p>
        </div>
    </div>

{% endblock %}