<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Advertisement</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p><b> Noob: </b><a href="{% url 'userprofile' advertisement.user %}"> {{ advertisement.get_user }}</a></p>

            <p><b> Lesson: </b>{{ advertisement.lesson }} - {{ advertisement.get_interest }} </p>

            <p><b> Date: </b>{{ advertisement.date }}</p>

            <p><b>Location:</b> {{ advertisement.user.city }}</p>

            <p><b> Duration: </b>{{ advertisement.duration }} hour</p>

            <p><b> Type: </b>{{ advertisement.type_of_meeting }}</p>

            {% if advertisement.user == user %} This is you
            {% else %}
                {% if advertisement.active == True %}
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-5">
                            <form role="form" id="addoffer" action="{% url 'offer' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="addoffer">
                                <input type="hidden" name="user_offering" value="{{ user }}">
                                <input type="hidden" name="advertisement" value="{{ advertisement.id }}">

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Offer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if advertisement.user == user %}

                {% for offer in offers %}

                    <div class="row">
                        <div class="col-md-4">
                            {{ offer.user }}
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4">
                            {% if advertisement.active == True %}
                                <form role="form">
                                    {% csrf_token %}
                                    <div class="form-group" id="chooseoffer" action="" method="post">
                                        <input type="hidden" name="type" value="addoffer">
                                        <input type="hidden" name="selectedoffer" value="{{ offer }}">
                                        <button type="submit" class="btn btn-primary">Choose offer</button>
                                    </div>
                                </form>
                            {% else %}
                                {% if offer.accepted == True %} <span class="label label-success">Selected</span>
                                {% else %} <span class="label label-default">Declined</span>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}

            {% endif %}

        </div>
    </div>
</div>

