{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Latest Advertisments{% endblock %}

{% block body_block %}

    {% if latest_advertisement %}

<h1 id = "title">10 Latest Advertisments</h1>
        <div class="container">
  {% for advertisment in latest_advertisement %}




<div class="row">
    <div class="item">
      <div class="well">
            <p><b> Noob: </b> {{ advertisment.user }}</p>
            <p><b> Type of meeting: </b> {{ advertisment.type_of_meeting }}</p>
            <p><b> Duration: </b> {{ advertisment.duration }}</p>
            <p><b> Date:---------  </b>{{ advertisment.date }} -------</p>
      </div>
    </div>








        {% endfor %}
</div>
        </div>
{% else %}
    <p>There are no active advertisment</p>
{% endif %}
{% endblock %}