{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Latest Advertisments{% endblock %}

{% block body_block %}

    {% if latest_advertisement %}

        <div>
            <h2>Latest Advertisments!</h2>

            <div class="row">

                {% for advertisment in latest_advertisement %}

                    <div class="col-md-4 column">
                        <div class="well">
                            <p><b> Noob: </b><a href="{% url 'userprofile' advertisment.user %}"> {{ advertisment.user }}</a></p>

                            <p><b> Lesson: </b> {{ advertisment.lesson }} - {{ advertisment.advInterest }}</p>

                            <p><b>Location:</b> {{ advertisment.user.city }}</p>

                            <p><b> Date: </b>{{ advertisment.date }} </p>

                            <div class="pull-right"><a data-toggle="modal"
                                                       href="{% url 'advertisement' advertisment.id %}"
                                                       data-target="#form-modal">See more</a></div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>There are no active advertisements</p>
    {% endif %}
{% endblock %}