{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Latest Advertisments{% endblock %}


{% block body_block %}

    {% if latest_advertisement %}

        {% for advert in latest_advertisement %}


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <p> Noob: {{ advert.user }}</p>

                    <p> User Location: {{ advert.user.city }}   </p>

                    <p> Lesson: {{ advert.lesson }} - {{ advert.advInterest }}</p>

                    <p> Date:---------> {{ advert.date }} <-------</p>

                    <p> Duration: {{ advert.duration }}</p>

                    <p> Type of meeting: {{ advert.type_of_meeting }}</p>


                    <p> ***** next advertisment *****</p>
                    <br><br>

                </div>
            </div>
        {% endfor %}


    {% else %}
        <p>There are no active advertisement for your latest</p>
    {% endif %}

{% endblock %}