*, *:before, *:after {
    box-sizing: border-box !important;
}

.item {
    display: inline-block;
    padding: .20rem;
    width: 100%;
}

.well {
    position: relative;
    display: block;
    box-shadow: 1px 1px 5px gray;
}

.container {
    padding: 25px;
    box-shadow: 0 10px 50px #DCDCDC;
}

.navbar {
    margin-top: 25px;
}

#addoffer {
    margin-bottom: 25px;
}

#user_ratings {
    margin-top: 25px;
}

#offers_modal {
    margin-top: 25px;
}

.container {
    min-height: 1600px;
}

#advcreatedalert {
    display: none;
}