<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}
    {% load base_extras %}

    {% url 'interest' as interest %}
    {% url 'latest' as latest %}
    {% url 'rating' as rating %}
    {% url 'userprofile' user as userprofile %}

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">

    <title>unNOOBme - {% block title %}Home{% endblock %}</title>

</head>

<body>

<div class="container">
    <img src="{% static "images/logo.png" %}" alt="unNoobMe logo"/>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <!-- commented out the links of those that do not exist yet -->
                    <li class="{% activetag request interest %}"><a href="{% url 'interest' %}">Interests</a></li>
                    <li class="{% activetag request latest %}"><a href="{% url 'latest' %}">Latest</a></li>
                    <li class="{% activetag request rating %}"><a href="{% url 'rating' %}">Ratings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown {% activetag request userprofile %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello, {{ user.username }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="{% activetag request userprofile %}"><a href="{% url 'userprofile' user %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>

                    <!--
                        Have to talk about the location of this
                    <li><a href="{#% url 'advertisement' %#}">Add(+)</a></li>-->


                </ul>
            </div>
        </div>
    </nav>


    {% block body_block %} {% endblock %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</body>
</html>