{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Ratings{% endblock %}

{% block body_block %}

    <div>
        <div class="row">

            {% for r in ratings %}
                <div class="col-md-4 column">
                    <div class="well">
                        <p><b>Author:</b> {{ r.author }}</p>

                        <p><b> Tutor:</b> {{ r.offer.user }} </p>

                        <p><b> Subject:</b> {{ r.offer.advertisement.advInterest }} </p>

                        <p><b> Lesson:</b> {{ r.offer.advertisement.lesson }}</p>

                        <p><b> Location:</b> {{ r.offer.advertisement.user.city }} </p>

                        <p><b> Rating:</b> {{ r.rate }}</p>

                        <p><b> Comment: </b>{{ r.comment }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}